div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    margin: 30px;
    height: 200px;
    width: 300px;
}

.gradient {
    background: gainsboro;
    background: linear-gradient(-45deg, transparent 25px, gainsboro 0);
}

.two {
    background: goldenrod;
    background: linear-gradient(-20deg, transparent 20px, goldenrod 0) bottom right,
        linear-gradient(45deg, transparent 40px, goldenrod 0) bottom left;
    background-size: 50% 100%, 50% 100%;
    background-repeat: no-repeat;
}

.radius {
    background: purple;
    background: radial-gradient(circle at top left, transparent 20px, purple 0) top left,
        radial-gradient(circle at bottom right, transparent 40px, purple 0) bottom right;
    background-size: 50% 100%, 50% 100%;
    background-repeat: no-repeat;
}

.clip {
    background: brown;
    clip-path: polygon(20px 0, calc(100% - 20px) 0, 100% 30px, 100% calc(100% - 25px), calc(100% - 30px) 100%, 40px 100%, 0 calc(100% - 20px));
}